<p id="notice"><%= notice %></p>

<h1>Tipo De Sexos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_de_sexos.each do |tipo_de_sexo| %>
      <tr>
        <td><%= tipo_de_sexo.nombre %></td>
        <td><%= link_to 'Show', tipo_de_sexo %></td>
        <td><%= link_to 'Edit', edit_tipo_de_sexo_path(tipo_de_sexo) %></td>
        <td><%= link_to 'Destroy', tipo_de_sexo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo De Sexo', new_tipo_de_sexo_path %>
