<div class="ui container">

<p id="notice"><%= notice %></p>

<h1>Jornada de estudios</h1>

  <table class="ui unstackable table">
    <thead>
    <tr>

      <th>Nombre</th>
      <th>Mostrar</th>
      <th>Editar</th>
      <th>Eliminar</th>

    </tr>
    </thead>
    <tbody>
    <% @jornadaestudios.each do |jornadaestudio| %>
        <tr>
          <td><%= jornadaestudio.nombre %></td>
          <td><%= link_to 'Mostrar', jornadaestudio %></td>
          <td><%= link_to 'Editar', edit_jornadaestudio_path(jornadaestudio) %></td>
          <td><%= link_to 'Eliminar', jornadaestudio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>

  </table>
  <br>

<%= link_to 'Nueva Jornada De Estudio', new_jornadaestudio_path %>
</div>
