<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, multipart: true}) do |form| %>

    <div class="ui container" style="margin-top: 25px;">

      <h2 style="text-align: center;">Por favor adjunte los siguientes documentos</h2>



      <% if current_user.certestudios_file_name.to_s.empty? %>
          <%= form.file_field :certestudios %>
      <% end %>

      <% if current_user.certexperiencia_file_name.to_s.empty? %>
          <%= form.file_field :certexperiencia %>
      <% end %>

      <% if current_user.docidentidad_file_name.to_s.empty? %>
          <%= form.file_field :docidentidad %>
      <% end %>

      <% if current_user.tarjetaprofesional_file_name.to_s.empty? %>
          <%= form.file_field :tarjetaprofesional %>
      <% end %>

    </div>

<% end %>