<style>
  .primerDelRow {
    box-shadow: -1px 0 0 0 rgba(34, 36, 38, .15), 1px 0 0 0 rgba(34, 36, 38, .15) !important;
  }
</style>




<div class="ui container" style="margin-top: 25px;">

  <h2 style="text-align: center;">Registrate como voluntario</h2>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "ui form"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="ui divided grid">

        <div class="ui divider" style="width: 100%;"></div>

        <div class=" eight wide column primerDelRow">
          <div class="field">
            <label for="">Nombres</label>
            <%= f.text_field :nombres, autofocus: true, placeholder: "Nombres" %>
          </div>
        </div>

        <div class=" eight wide column">
          <div class="field">
            <label for="">Apellidos</label>
            <%= f.text_field :apellidos, placeholder: "Apellidos" %>
          </div>
        </div>

        <div class="ui divider" style="width: 100%;"></div>
        <input type="hidden" value="true" name="user[esvoluntario]">
        <div class="three wide column primerDelRow">
          <div class="field">
            <label for="">Tipo de documento</label>
            <select class="ui fluid search dropdown" name="user[tipo_documentos_id]">
              <option value="">Tipo de Documento</option>
              <% @tipodocumentos.each do |p| %>
                  <option value="<%= p.id %>"><%= p.nombre %></option>
              <% end %>

            </select>
          </div>
        </div>

        <div class="five wide column">
          <div class="field">
            <label for="">Numero de documento</label>
            <%= f.text_field :numdoc, autofocus: true, placeholder: "Numero de Documento" %>
          </div>
        </div>

        <div class="eight wide column">
          <label for="">Fecha de nacimiento</label>
          <div class="three fields">
            <div class="field">
              <input type="text" name="daybirth" maxlength="2" placeholder="Dia">
            </div>
            <div class="field">
              <select class="ui fluid search dropdown" name="monthbirth">
                <option value="">Mes</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
              </select>
            </div>
            <div class="field">
              <input type="text" name="yearbirth" maxlength="4" placeholder="Año">
            </div>
          </div>
        </div>

        <div class="ui divider" style="width: 100%;"></div>

        <div class="three wide column primerDelRow">

          <div class="field">
            <label for="">Sexo</label>
            <select class="ui fluid search dropdown" name="user[tipo_de_sexos_id]">
              <option value="">Sexo</option>
              <% @sexos.each do |p| %>
                  <option value="<%= p.id %>"><%= p.nombre %></option>
              <% end %>


            </select>
          </div>
        </div>

        <div class="five wide column">
          <div class="field">
            <label>Nacionalidad</label>
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="user[paises_id]">
              <i class="dropdown icon"></i>
              <div class="default text">Selecciona tu Nacionalidad</div>
              <div id="nacionalidad" class="menu">
                <% @paises.each do |p| %>
                    <div class="item" data-value="<%= p.id %>"><i class="<%= p.bandera %> flag"></i> <%= p.nombre %>
                    </div>
                <% end %>
              </div>

            </div>
          </div>
        </div>

        <div class=" eight wide column">
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </div>
        </div>

        <div class="ui divider" style="width: 100%;"></div>

        <div class="four wide column primerDelRow ">

          <div class="field">
            <label>Ubicacion de vivienda</label>
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="user[ubicacionviviendas_id]">
              <i class="dropdown icon"></i>
              <div class="default text">Ubicacion de vivienda</div>
              <div id="nacionalidad" class="menu">
                <% @ubicacionvivienda.each do |p| %>
                    <div class="item" data-value="<%= p.id %>"> <%= p.nombre %></div>
                <% end %>


              </div>

            </div>
          </div>
        </div>

        <div class="four wide column">

          <div class="field">
            <label>Localidad</label>
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="jdjd">
              <i class="dropdown icon"></i>
              <div class="default text">Localidad</div>
              <div id="nacionalidad" class="menu">
                <div class="item" data-value="co"> Antonio Narino</div>
                <div class="item" data-value="us"> Chapinero</div>
                <div class="item" data-value="us"> Puente

                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="four wide column">

          <div class="field">
            <label>Barrio</label>
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="country">
              <i class="dropdown icon"></i>
              <div class="default text">Barrio</div>
              <div id="nacionalidad" class="menu">
                <div class="item" data-value="co"> Normandia</div>
                <div class="item" data-value="us"> Modelia</div>

              </div>

            </div>
          </div>
        </div>

        <div class=" four wide column">
          <div class="field">
            <label for="">Direccion de Residencia</label>
            <%= f.text_field :direccion, placeholder: "Direccion de Residencia" %>
          </div>
        </div>

        <div class="ui divider" style="width: 100%;"></div>

        <div class="four wide column primerDelRow">

          <div class="field">
            <label>Tenencia de la Vivienda</label>
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="user[tenenciaviviendas_id]">
              <i class="dropdown icon"></i>
              <div class="default text">Tenencia de la Vivienda</div>
              <div id="nacionalidad" class="menu">

                <% @tenenciavivienda.each do |p| %>
                    <div class="item" data-value="<%= p.id %>"> <%= p.nombre %></div>
                <% end %>

              </div>

            </div>
          </div>
        </div>

        <div class="four wide column ">

          <div class="field">
            <label>Tipo de Contacto</label>
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="user[tipocontactos_id]">
              <i class="dropdown icon"></i>
              <div class="default text">Celular, Numero fijo, etc...</div>
              <div id="nacionalidad" class="menu">


                <% @tipocontacto.each do |p| %>
                    <div class="item" data-value="<%= p.id %>"> <%= p.nombre %></div>
                <% end %>
              </div>

            </div>
          </div>
        </div>

        <div class=" four wide column">
          <div class="field">
            <label for="">Numero de contacto</label>
            <%= f.text_field :numerocontacto, placeholder: "Numero" %>
          </div>
        </div>

        <div class="four wide column ">

          <div class="field">
            <label>Religion</label>
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="user[religions_id]">
              <i class="dropdown icon"></i>
              <div class="default text">Religion</div>
              <div id="nacionalidad" class="menu">
                <% @religion.each do |p| %>
                    <div class="item" data-value="<%= p.id %>"> <%= p.nombre %></div>
                <% end %>
              </div>

            </div>
          </div>
        </div>

        <div class="ui divider" style="width: 100%;"></div>

        <div class="four wide column primerDelRow">

          <div class="field">
            <label>Estado Civil</label>
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="user[tipo_estado_civils_id]">
              <i class="dropdown icon"></i>
              <div class="default text">Estado Civil</div>
              <div id="nacionalidad" class="menu">

                <% @estadocivil.each do |p| %>
                    <div class="item" data-value="<%= p.id %>"> <%= p.nombre %></div>
                <% end %>

              </div>

            </div>
          </div>
        </div>

        <div class="four wide column">

          <div class="field">
            <br>
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden" name="actualmenteestudia">
              <label>Actualmente Estudiante?</label>
            </div>
          </div>
        </div>

        <div class=" four wide column">
          <div class="field">
            <label for="">Programa Estudio</label>
            <input type="text" name="programaestudio">
          </div>
        </div>


        <div class=" four wide column">
          <div class="field">
            <label for="">Ultimo titulo obtenido</label>
            <input type="text" placeholder="Ultimo titulo obtenido" name="ultimotitulo">

          </div>
        </div>

        <div class="ui divider" style="width: 100%;"></div>
        <div class="four wide column primerDelRow">

          <div class="field">
            <label>Modalidad Estudio</label><br>
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="tipoestudio_id">
              <i class="dropdown icon"></i>
              <div class="default text">Modalidad Estudio</div>
              <div id="nacionalidad" class="menu">


                <% @tipoestudio.each do |p| %>
                    <div class="item" data-value="<%= p.id %>"> <%= p.nombre %></div>
                <% end %>

              </div>

            </div>
          </div>
        </div>
        <div class="four wide column">

          <div class="field">
            <label>Jornada Estudio</label><br>
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="jornadaestudio_id">
              <i class="dropdown icon"></i>
              <div class="default text">Jornada Estudio</div>
              <div id="nacionalidad" class="menu">

                <% @jornadaestudio.each do |p| %>
                    <div class="item" data-value="<%= p.id %>"> <%= p.nombre %></div>
                <% end %>

              </div>

            </div>
          </div>
        </div>


        <div class="four wide column">
          <div class="field">
            <%= f.label :clave %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> Caracteres minimo)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>
        <div class="four wide column">
          <div class="field">
            <%= f.label :confirmar_clave %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>


        <div class="ui divider" style="width: 100%;"></div>


        <div class="actions">
          <%= f.submit "Registrar" %>
        </div>
      </div>
  <% end %>


</div>


<script type="text/javascript" charset="utf-8">
    $('.ui.dropdown').dropdown();
    $('.ui.checkbox').checkbox();
</script>

<style>
  #nacionalidad.menu .item {
    text-align: left;
  }
</style>


<%= render "devise/shared/links" %>
