
<div class="ui container">
<p id="notice"><%= notice %></p>

<h1>Detalle de Ubicacions</h1>

  <table class="ui unstackable table">
    <thead>
    <tr>

      <th>Nombre</th>
      <th>Mirar</th>
      <th>Editar</th>
      <th>Eliminar</th>

    </tr>
    </thead>

    <tbody>
    <% @detalleubicacions.each do |detalleubicacion| %>
        <tr>
          <td><%= detalleubicacion.nombre %></td>
          <td><%= link_to 'Mirar', detalleubicacion %></td>
          <td><%= link_to 'Editar', edit_detalleubicacion_path(detalleubicacion) %></td>
          <td><%= link_to 'Eliminar', detalleubicacion, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br>

<%= link_to 'Nuevo Detalle de Ubicacion', new_detalleubicacion_path %>
</div>