<p id="notice"><%= notice %></p>

<p>
  <strong>Actualmenteestudia:</strong>
  <%= @nivelacademico.actualmenteestudia %>
</p>

<p>
  <strong>Programaestudio:</strong>
  <%= @nivelacademico.programaestudio %>
</p>

<p>
  <strong>Ultimotitulo:</strong>
  <%= @nivelacademico.ultimotitulo %>
</p>

<p>
  <strong>Tipoestudio:</strong>
  <%= @nivelacademico.tipoestudio %>
</p>

<p>
  <strong>Jornadaestudio:</strong>
  <%= @nivelacademico.jornadaestudio %>
</p>

<%= link_to 'Edit', edit_nivelacademico_path(@nivelacademico) %> |
<%= link_to 'Back', nivelacademicos_path %>
