<!--
<%= @valores %>
-->

<h1>Convocatorias disponibles</h1>
<br>
<table class="ui table">

  <thead>
  <tr>

    <th>Nombre puesto</th>
    <th>Objetivos puesto</th>


    <th>Beneficiarios</th>

    <th>Coordinador</th>

    <th ></th>
  </tr>
  </thead>
  <tbody>



<% @afiches.each do |a| %>

    <% alpha = true %>
    <% a.aficherequisitos.each do |x| %>
        <!--
        <%= @valores[x.aptitude.nombre] > x.valor %>
        -->
        <% if @valores[x.aptitude.nombre] < x.valor %>
            <% alpha = false %>
            <% break %>
        <% end %>

        <!--
        <%= x.valor %> <%= x.aptitude.nombre %>  <br>
        <%= @valores[x.aptitude.nombre] %>
        <br>
-->
    <% end %>

    <% if alpha %>
  <tr>
    <td>
        <%= a.nombrepuesto %>
    </td>
    <td>
        <%= a.objetivospuesto %>
    </td>
    <td>
        <%= a.beneficiarios %>
    </td>
    <td>
        <%= a.coordinador %>
    </td>
    <td>

      <form method="post" action="/home/aplicarconvocatoria">
        <input type="hidden" name="afiche" value="<%= a.id %>">
        <input type="submit" value="Aplicar a Convocatoria">
      </form>
    </td>
  </tr>
    <% end %>



<% end %>

  </tbody>
</table>