<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">Verificar ONG</a>
  <a class="item" data-tab="forth"> ONG activas</a>
  <a class="item" data-tab="second">Verificar Voluntarios</a>
  <a class="item" data-tab="third">Voluntarios activos</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="first">
  <table class="ui celled table">
    <thead>
    <tr>
      <th>Nombre</th>

      <th>RUT</th>
      <th>Camara y Comercio</th>
      <th>Documento de Identidad Representante</th>
      <th>Aprobar</th>
    </tr>
    </thead>
    <tbody>

    <% @ongverificar.each do |u| %>

        <tr>
          <td><%= u.ong.nombre %></td>
          <% if !(u.ong.rut.url.end_with? "missing.png") %>
              <td><a href="<%= u.ong.rut.url %>" target="_blank">Link</a></td>
          <% else %>
              <td>No se ha adjuntado el documento</td>
          <% end %>

          <% if !(u.ong.camaracomercio.url.end_with? "missing.png") %>

              <td>

                <a href="<%= u.ong.camaracomercio.url %>" target="_blank">Link</a></td>
          <% else %>
              <td>No se ha adjuntado el documento</td>
          <% end %>
          <% if !(u.ong.documentoidentidad.url.end_with? "missing.png") %>
              <td>

                <a href="<%= u.ong.documentoidentidad.url %>" target="_blank">Link</a></td>
          <% else %>
              <td>No se ha adjuntado el documento</td>
          <% end %>

          <td>

            <button class="ui button modalong" data-id="<%= u.id %>">Aprobar</button>

          </td>


        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
  <table class="ui celled table">
    <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Certificado de Estudios</th>
      <th>Certificado de Experiencia laboral</th>
      <th>Fotocopia del Documento de Identidad</th>
      <th>Tarjeta Profesional</th>
      <th>Aprobar</th>
    </tr>
    </thead>
    <tbody>

    <% @usuariosverificar.each do |u| %>

        <tr>
          <td><%= u.voluntario.nombres %></td>
          <td><%= u.voluntario.apellidos %></td>

          <% if !(u.voluntario.certestudios.url.end_with? "missing.png") %>


              <td>


              <td><a href="<%= u.voluntario.certestudios.url %>" target="_blank">Link</a></td>
              </td>
          <% else %>
              <td>No se ha adjuntado el documento</td>
          <% end %>
          <% if !(u.voluntario.certexperiencia.url.end_with? "missing.png") %>
              <td></td>

              <td>

                <a href="<%= u.voluntario.certexperiencia.url %>" target="_blank">Link</a></td>
          <% else %>
              <td>No se ha adjuntado el documento</td>
          <% end %>
          <% if !(u.voluntario.docidentidad.url.end_with? "missing.png") %>


              <td>

              <td><a href="<%= u.voluntario.docidentidad.url %>" target="_blank"></a>Link</td>
              </td>
          <% else %>
              <td>No se ha adjuntado el documento</td>
          <% end %>
          <% if !(u.voluntario.tarjetaprofesional.url.end_with? "missing.png") %>

              <td>

              <td><a href="<%= u.voluntario.tarjetaprofesional.url %>" target="_blank">Link</a></td>
              </td>
          <% else %>
              <td>No se ha adjuntado el documento</td>
          <% end %>



          <td>

            <button class="ui button modalusuarios" data-id="<%= u.id %>">Aprobar</button>

          </td>


        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="ui bottom attached tab segment" data-tab="third">

  <table class="ui celled table">
    <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Acciones</th>

    </tr>
    </thead>
    <tbody>

    <% @usuariosactivos.each do |u| %>

        <tr>
          <td><%= u.voluntario.nombres %></td>
          <td><%= u.voluntario.apellidos %></td>

          <td><a href="">Ver detalles</a></td>


        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="ui bottom attached tab segment" data-tab="forth">
  <table class="ui celled table">
    <thead>
    <tr>
      <th>Nombre</th>

      <th>Acciones</th>

    </tr>
    </thead>
    <tbody>

    <% @ongactivos.each do |u| %>

        <tr>
          <td><%= u.ong.nombre %></td>
          <td><a href="">Ver detalles</a></td>


        </tr>
    <% end %>
    </tbody>
  </table>
</div>



<div class="ui modal ongong">

  <i class="close icon"></i>
  <div class="header">
    Aprobar ONG
  </div>

  <div class="image content">
    <div class="ui medium image">
      <img src="/imgs/chris.jpg">
    </div>

    <div class="description">

      <div class="ui header">Por favor escribe un comentario al aprobar la ONG</div>

      <form class="ui form" action="/home/aprobacion/" method="post">
        <div class="field">
          <label>Observacion</label>
          <input type="hidden" name="id" id="idong" value="">
          <input type="hidden" name="user[aprobado]" value="<%= true %>">
          <input type="text" name="user[observacion]" placeholder="Observacion">
          <input type="submit" id="submitong" style="display: none;">
        </div>

      </form>
    </div>

  </div>

  <div class="actions">
    <div class="ui black deny button">
      Cancelar
    </div>
    <label for="submitong" class="ui positive right labeled icon button">
      Aprobar
      <i class="checkmark icon"></i>
    </label>
  </div>

</div>


<div class="ui modal voluvolu">

  <i class="close icon"></i>
  <div class="header">
    Aprobar Usuario
  </div>

  <div class="image content">
    <div class="ui medium image">
      <img src="/imgs/rachel.png">
    </div>

    <div class="description">

      <div class="ui header">Por favor escribe un comentario al aprobar el usuario</div>
      <form class="ui form" action="/home/aprobacion/" method="post">
        <div class="field">
          <label>Observacion</label>
          <input type="hidden" name="id" id="idvolu" value="">
          <input type="hidden" name="user[aprobado]" value="<%= true %>">
          <input type="text" name="user[observacion]" placeholder="Observacion">
          <input type="submit" id="submitvolu" style="display: none;">
        </div>

      </form>
    </div>

  </div>

  <div class="actions">
    <div class="ui black deny button">
      Cancelar
    </div>
    <label for="submitvolu" class="ui positive right labeled icon button">
      Aprobar
      <i class="checkmark icon"></i>
    </label>
  </div>

</div>

<script type="text/javascript" charset="utf-8">
    $('.menu .item')
        .tab()
    ;


    $('.modalusuarios').click(function () {

        $('#idvolu').val($(this).attr('data-id'));

        $('.ui.modal.voluvolu')
            .modal('show')
        ;
    })
    $('.modalong').click(function () {

        $('#idong').val($(this).attr('data-id'));

        $('.ui.modal.ongong')
            .modal('show')
        ;
    })
</script>