<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @opciones_respuestum.nombre %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @opciones_respuestum.valor %>
</p>

<%= link_to 'Edit', edit_opciones_respuestum_path(@opciones_respuestum) %> |
<%= link_to 'Back', opciones_respuesta_path %>
