<div class="ui container">
<p id="notice"><%= notice %></p>

<h1>Paises</h1>

  <%= link_to 'Nuevo pais', new_paise_path %>
<table class="ui unstackable table">
  <thead>
  <tr>

    <th>Nombre</th>
    <th>Bandera</th>
    <th>Mostrar</th>
    <th>Editar</th>
    <th>Eliminar</th>

  </tr>
  </thead>

  <tbody>
  <% @paises.each do |paise| %>
      <tr>
        <td><%= paise.nombre %></td>
        <td><i class="<%= paise.bandera %> flag"></i></td>
        <td><%= link_to 'Mostrar', paise %></td>
        <td><%= link_to 'Editar', edit_paise_path(paise) %></td>
        <td><%= link_to 'eliminar', paise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


</div>
