<p id="notice"><%= notice %></p>

<h1>Convocatorias</h1>





    <table class="ui table">
      <thead>
      <tr>

        <% if current_user.esadmin %>
            <th>ONG</th>


        <% end %>

        <th>Nombre puesto</th>
        <th>Objetivos puesto</th>


        <th>Beneficiarios</th>

        <th>Coordinador</th>

        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @afiches.each do |afich| %>
          <tr>

            <% if current_user.esadmin %>
                <% if afich.user %>

                    <td> <%= afich.user.ong.nombre %> </td>
                <% else %>
                    <td></td>
                <% end %>
            <% else %>
                <td></td>
            <% end %>

            <td><%= afich.nombrepuesto %></td>
            <td><%= afich.objetivospuesto %></td>


            <td><%= afich.beneficiarios %></td>

            <td><%= afich.coordinador %></td>

            <td><%= link_to 'Mostrar', afich %></td>
            <!--<td><%= link_to 'Editar', edit_afich_path(afich) %></td> -->
            <td><%= link_to 'Eliminar', afich, method: :delete, data: {confirm: 'Estas seguro?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>



<br>

<%= link_to 'Nueva convocatoria', new_afich_path %>
