<p id="notice"><%= notice %></p>

<h1>Afiches</h1>

<table class="ui table">
  <thead>
    <tr>

      <th>Nombre puesto</th>
      <th>Objetivos puesto</th>


      <th>Beneficiarios</th>

      <th>Coordinador</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @afiches.each do |afich| %>
      <tr>

        <td><%= afich.nombrepuesto %></td>
        <td><%= afich.objetivospuesto %></td>


        <td><%= afich.beneficiarios %></td>

        <td><%= afich.coordinador %></td>

        <td><%= link_to 'Mostrar', afich %></td>
        <td><%= link_to 'Editar', edit_afich_path(afich) %></td>
        <td><%= link_to 'Eliminar', afich, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Afich', new_afich_path %>
