<div class="ui container">

  <p id="notice"><%= notice %></p>

  <% unless current_user.esvoluntario %>
      Voluntarios
      <table class="ui unstackable table">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @afich.aplicacionafiche.each do |a| %>
            <tr>
              <td><%= a.user.voluntario.nombres %></td>
              <td><%= a.user.voluntario.apellidos %></td>
              <td><a href="/home/voluntario/<%= a.user.id %>">Ver detalles</a></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
  <div class="ui relaxed divided list">
    <br>
    <br>
    <div class="item">

      <div class="content">

        <div class="description">
          <strong>Nombre Organizacion:</strong>
          <%= @afich.nombreorg %>

        </div>
      </div>
    </div>


    <br>

    <div class="item">

      <div class="content">

        <div class="description">

          <strong>Nombre del puesto:</strong>
          <%= @afich.nombrepuesto %>
        </div>
      </div>
    </div>

    <br>
    <div class="item">

      <div class="content">

        <div class="description">
          <strong>Objetivos del puesto:</strong>
          <%= @afich.objetivospuesto %>

        </div>
      </div>
    </div>


    <br>
    <div class="item">

      <div class="content">

        <div class="description">
          <strong>Horario:</strong>
          <%= @afich.horario %>

        </div>
      </div>
    </div>


    <br>
    <div class="item">

      <div class="content">

        <div class="description">

          <strong>Actividad asociada:</strong>
          <%= @afich.actividadasociada %>
        </div>
      </div>
    </div>

    <br>
    <div class="item">

      <div class="content">

        <div class="description">

          <strong>Beneficiarios:</strong>
          <%= @afich.beneficiarios %>
        </div>
      </div>
    </div>

    <br>
    <div class="item">

      <div class="content">

        <div class="description">

          <strong>Que se hace?:</strong>
          <%= @afich.quesehace %>
        </div>
      </div>
    </div>


    <br>
    <div class="item">

      <div class="content">

        <div class="description">

          <strong>Como se hace?:</strong>
          <%= @afich.comosehace %>
        </div>
      </div>
    </div>


    <br>
    <div class="item">

      <div class="content">

        <div class="description">

          <strong>Coordinador:</strong>
          <%= @afich.coordinador %>
        </div>
      </div>
    </div>


    <br>
    <div class="item">

      <div class="content">

        <div class="description">

          <strong>Requisitos:</strong>
          <%= @afich.requisitos %>
        </div>
      </div>
    </div>


    <br>
    <div class="item">

      <div class="content">

        <div class="description">

          <strong>Experiencia:</strong>
          <%= @afich.experiencia %>
        </div>
      </div>
    </div>
    <br>
    <div class="item">

      <div class="content">

        <div class="description">

          <strong>Incentivos:</strong>
          <%= @afich.incentivos %>
        </div>
      </div>
    </div>
    <br>
    <div class="item">

      <div class="content">

        <div class="description">

          <strong>Periocidad de los incentivos:</strong>
          <%= @afich.periocidadincentivos %>
        </div>
      </div>
    </div>


    <div class="item">

      <div class="content">

        <div class="description">
          <%= link_to 'Atras', afiches_path %>
        </div>
      </div>
    </div>
  </div>
</div>