<p id="notice"><%= notice %></p>

<p>
  <strong>Nombreorg:</strong>
  <%= @afich.nombreorg %>
</p>

<p>
  <strong>Nombrepuesto:</strong>
  <%= @afich.nombrepuesto %>
</p>

<p>
  <strong>Objetivospuesto:</strong>
  <%= @afich.objetivospuesto %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @afich.horario %>
</p>

<p>
  <strong>Actividadasociada:</strong>
  <%= @afich.actividadasociada %>
</p>

<p>
  <strong>Beneficiarios:</strong>
  <%= @afich.beneficiarios %>
</p>

<p>
  <strong>Quesehace:</strong>
  <%= @afich.quesehace %>
</p>

<p>
  <strong>Comosehace:</strong>
  <%= @afich.comosehace %>
</p>

<p>
  <strong>Coordinador:</strong>
  <%= @afich.coordinador %>
</p>

<p>
  <strong>Requisitos:</strong>
  <%= @afich.requisitos %>
</p>

<p>
  <strong>Experiencia:</strong>
  <%= @afich.experiencia %>
</p>

<p>
  <strong>Incentivos:</strong>
  <%= @afich.incentivos %>
</p>

<p>
  <strong>Periocidadincentivos:</strong>
  <%= @afich.periocidadincentivos %>
</p>

<%= link_to 'Edit', edit_afich_path(@afich) %> |
<%= link_to 'Back', afiches_path %>
