<div class="ui container">

<p id="notice"><%= notice %></p>

<h1>Tenencia De Viviendas</h1>

<table class="ui unstackable table">
  <thead>
  <tr>

    <th>Nombre</th>
    <th>Mostrar</th>
    <th>Editar</th>
    <th>Eliminar</th>

  </tr>
  </thead>
  <tbody>
  <% @tenenciaviviendas.each do |tenenciavivienda| %>
      <tr>
        <td><%= tenenciavivienda.nombre %></td>
        <td><%= link_to 'Mostrar', tenenciavivienda %></td>
        <td><%= link_to 'Edit', edit_tenenciavivienda_path(tenenciavivienda) %></td>
        <td><%= link_to 'Destroy', tenenciavivienda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>

</table>

<br>

<%= link_to 'Nueva Tenencia De Vivienda', new_tenenciavivienda_path %>
</div>